.nav-tabs {
    border-bottom: 1px solid skyblue;
}
.eliptical{
    background: deepskyblue;
    height:952px;
    border-top-left-radius: 92% 59%;
    position:relative;
    z-index: 1;
    top:-650px;
}
.cetkica{
    position: relative;
    z-index: -1;
    top:20px;
}
a:hover{
    text-decoration: none;
}
.submeni{
    background: -moz-linear-gradient(left,  rgba(232,218,199,0.45) 0%, rgba(255,255,255,0.66) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(232,218,199,0.45)), color-stop(100%,rgba(255,255,255,0.66))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(232,218,199,0.45) 0%,rgba(255,255,255,0.66) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(232,218,199,0.45) 0%,rgba(255,255,255,0.66) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(232,218,199,0.45) 0%,rgba(255,255,255,0.66) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(232,218,199,0.45) 0%,rgba(255,255,255,0.66) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73e8dac7', endColorstr='#a8ffffff',GradientType=1 ); /* IE6-9 */
    border: 2px solid #c8eff3;
    border-radius:7px;
}
.wave{
    top: -650px;
    padding:0;
    background: deepskyblue;
}
.wave img{
    width:100%;
    height: auto;
}
.deepskyblue{
    background: deepskyblue;
    height:93px;
    top:-650px;
}
.teeth{
    width:auto !important;
    right:70px;
    top:70px;
    z-index: 9999;
    position:absolute !important;
}
.width100{
    width:100%;
}
.slikaLogoa{
    background:url("../img/img12.jpg");
    background-size:cover;
    height: 376px;
}
.velikaSlika{
    background: url("../img/image2.jpg") no-repeat;
    background-size: 64% auto;
    height:400px;
    background-position: right;
}