<!--
<carousel interval="interval" style="max-height:408px !important;">
    <slide ng-repeat="slide in carouselItems" active="slide.active">
        <img style="max-height:408px !important;" ng-src="{{slide.image}}">
        <div class="carousel-caption">
            <h4>Slide {{$index}}</h4>
            <p>{{slide.text}}</p>
        </div>
    </slide>
</carousel>-->
<div class="slider">
    <ul class="slides">
        <li>
            <img src="../../ordinacijaMDjalovic/img/image1.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="../../ordinacijaMDjalovic/img/image2.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h3>Left Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="../../ordinacijaMDjalovic/img/image3.jpg"> <!-- random image -->
            <div class="caption right-align">
                <h3>Right Aligned Caption</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="../../ordinacijaMDjalovic/img/image4.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
    </ul>
</div>
<script>
    $(document).ready(function(){
        $('.slider').slider({full_width: false});
    });
</script>